body{
  /* background: url(./assets/arizona_storm.jpeg) no-repeat center center fixed; */
  min-height: 100%;
  background: #222528;
  background-size: cover;
}

@font-face{
  font-family: monoid;
  src: url(assets/Monoid-Regular.ttf);
  font-family: rangly_font;
  src: url(assets/RanglyPersonalUseOnly-1Lle.ttf);
}

#navbarSupportedContent{
  font-family: monoid;
}

.header_h1{
  font-family: rangly_font;
  color: #ffffff;
  text-align: center;
  font-size: 65px;
  z-index: 1;
}

.typewriter{
  z-index: 1;
}

.typewriter h2{
  font-family: monoid;
  color: #ffffff;
  letter-spacing: .15em;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: .17em solid rgb(248, 248, 248);
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
  z-index: 1;
}

@keyframes typing{
  from {
    width: 0
  }
  to {
    width: 90%
  }
}

@keyframes blinking-cursor{
  from,
  to {
    border-color: transparent
  }
  100% {
    border-color: rgb(255, 255, 255);
  }
}

.flex-container{
  display: flex;
  width: 40%;
  height: 20%;
  margin: auto;
  
}

.column{
  float: none;
  justify-content: center ;
}

.column-side{
  font-family: monoid;
  margin: auto;
  width: 20%;
  border: 3px solid #020300;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.video-container{
  height: 90%;
  width: 90%;
  position: absolute;
}

.video-container video{
  width: 100%;
  height: 60%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.about_me{
  font-family: rangly_font;
  margin: auto;
  color: white;
  font-size: 72px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bio{ 
  font-family: monoid;
  font-size: 20px;
  text-align: center;
  color: white;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.experience{
  font-family: rangly_font;
  margin: auto;
  color: white;
  font-size: 72px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#ex_list{
  font-family: monoid;
  color: white;
  font-size: 32px;
  text-align: center;
  list-style-type: none;
}


.projects{
  font-family: rangly_font;
  margin: auto;
  color: white;
  font-size: 72px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-body{
  font-family: monoid;
  
}

.card{
  margin-bottom: 20px;
  text-align: center;
}





@media screen and (max-width: 801px){
.typewriter h2{
  white-space: inherit;
}
}


@media screen and (min-width: 800px) {
.header_h1, .experience, .projects, .about_me{
  font-family: rangly_font;
  color: white;
  font-size: 72px;
}
}

@media screen and (max-width: 801px) {
.header_h1, .experience, .projects, .about_me{
  font-family: rangly_font;
  color: white;
  font-size: 32px;
}
}
    
    