body{
  /* background: url(./assets/arizona_storm.jpeg) no-repeat center center fixed; */
  min-height: 100%;
  background: #486060;
  background-size: cover;
}

@font-face{
  font-family: monoid;
  src: url(assets/Monoid-Regular.ttf);
  font-family: monoid-bold;
  src: url(assets/Monoid-Bold.ttf);
}

#navbarSupportedContent{
  font-family: monoid;
}

.header{
  color:  #9d8771;
  text-align: center;
}
.header h1{
  font-family: monoid-bold;
}

.id{
  max-width: 100%;
  max-height:100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
}

#profile{
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  color: #907860;
}
#profile h4{
  padding-top: 20px;
}

.typewriter{
  z-index: 1;
}

.typewriter h2{
  font-family: monoid-bold;
  color: #9d8771;
  letter-spacing: .15em;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  border-right: .17em solid rgb(248, 248, 248);
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
  z-index: 1;
}

@keyframes typing{
  from {
    width: 0
  }
  to {
    width: 90%
  }
}

@keyframes blinking-cursor{
  from,
  to {
    border-color: transparent
  }
  100% {
    border-color: rgb(255, 255, 255);
  }
}


h1{
  font-family: monoid;
}




#about_me{
  color: #907860;
  text-align: center;
  padding-top: 30px;
  padding-right: 10px;
}
#about_me p{
  text-align: left;
  font-size: 20px;
}


#experience{
  color: #907860;
  text-align: center;

  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 30px;

}

#experience p{
  text-align: left;
  font-size: 18px;

}

#goals{
  color: #907860;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 30px;
}

#goals p{
  text-align: left;
  font-size: 20px;
}
.projects{

  color: #907860;
  font-size: 72px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;


}

.card-body{
  font-family: monoid;
  
}

.card{
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color:   #313c44 ;
}
#proj{
  color: #907860;
}




@media screen and (max-width: 801px){
.typewriter h2{
  white-space: inherit;
}
}


@media screen and (min-width: 800px) {
.header_h1,.projects{
  font-family: rangly_font;
  color: #907860;
  font-size: 72px;
}
}

@media screen and (max-width: 801px) {
.header_h1,.projects{
  font-family: rangly_font;
  color: #907860;
  font-size: 32px;
}
}
    
    